SeattleSlew_UserPermissionsScreens/SampleData/PortfolioAccessSampleDataSource/PortfolioAccessSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.PortfolioAccessSampleDataSource" targetNamespace="Expression.Blend.SampleData.PortfolioAccessSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:RecordCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Record" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Record">
    <xs:attribute name="PortfolioBaseCode" type="xs:string" />
    <xs:attribute name="ReportHeading1" type="xs:string" />
    <xs:attribute name="ReportHeading2" type="xs:string" />
    <xs:attribute name="ReportHeading3" type="xs:string" />
    <xs:attribute name="StartDate" type="xs:string" />
    <xs:attribute name="OwnedBy" type="xs:string" />
  </xs:complexType>
</xs:schema>