SeattleSlew_UserPermissionsScreens/SampleData/UserGroupMemberSampleDataSource/UserGroupMemberSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.UserGroupMemberSampleDataSource" targetNamespace="Expression.Blend.SampleData.UserGroupMemberSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:RecordCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Record" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Record">
    <xs:attribute name="UserName" type="xs:string" />
    <xs:attribute name="LastName" type="xs:string" />
    <xs:attribute name="FirstName" type="xs:string" />
    <xs:attribute name="UserRole" type="xs:string" />
    <xs:attribute name="IsActive" type="xs:boolean" />
  </xs:complexType>
</xs:schema>